@model Entity.Concrete.Category
@{
    ViewBag.Title = "EditCategory";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h1>Kategori Düzenleme Sayfası</h1>
<hr />
<br />
@using (Html.BeginForm("EditCategory", "AdminCategory", FormMethod.Post))
{
    <div class="form-group">
        @Html.HiddenFor(x=>x.CategoryId)
        @Html.Label("Kategori Adı", new { @class = "form-label" })
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryName, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Açıklama", new { @class = "form-label" })
        @Html.TextAreaFor(x => x.CategoryDescription, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.CategoryDescription, null, new { @class = "text-danger" })
        <br />
        @Html.Label("Durum", new { @class = "form-label" })
        @Html.CheckBoxFor(x => x.CategoryStatus, new { @class = "form-control" })
        <br />
        @*@Html.ActionLink("Kaydet", "AddCategory","Category", new { @class = "btn btn-primary" })*@
        <button class="btn btn-success">Güncelle</button>
    </div>
}

