@model Entity.Concrete.Heading
@{
    ViewBag.Title = "AddHeading";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Başlık Ekleme Sayfası</h2>
<hr />

@using (Html.BeginForm())
{
<div class="form-group">
    @Html.Label("Başlık adı", new { @class = "form-label" })
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Kategori", new { @class = "form-label" })
    @Html.DropDownListFor(x => x.CategoryId, (List<SelectListItem>)ViewBag.CategoryValues, "Seçiniz", new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId, null, new { @class = "text-danger" })
    <br />
    @Html.Label("Yazar", new { @class = "form-label" })
    @Html.DropDownListFor(x => x.WriterId, (List<SelectListItem>)ViewBag.WriterValues,"Seçiniz", new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterId, null, new { @class = "text-danger" })
    <br />
    <br />
    <button class="btn btn-primary btn-sm">Ekle</button>
</div>

}

