@using Entity.Concrete
@model About
<br />
<button class="btn btn-primary" data-toggle="modal" data-target="#Modal1">
    Yeni Hakkımızda Girişi
</button>


<div class="modal" id="Modal1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Hakkımızda Girişi</h2>
            </div>
            <form method="post" action="/About/AddAbout">
                <div class="modal-body">
                    @Html.Label("Hakkımızda Başlık", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.AboutDetails1, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.AboutDetails1, null, new { @class = "text-danger" })
                    <br />
                    @Html.Label("Hakkımızda Açıklama", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.AboutDetails2, new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.AboutDetails2, null, new { @class = "text-danger" })
                    <br />
                    @Html.Label("Hakkımızda Görsel 1", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.AboutImage1, new { @class = "form-control" })
                    <br />
                    @Html.Label("Hakkımızda Görsel 2", new { @class = "form-label" })
                    @Html.TextBoxFor(x => x.AboutImage2, new { @class = "form-control" })
                    <br />

                    <button class="btn btn-primary">Kaydet</button>
                </div>

            </form>
        </div>
    </div>
</div>

<br />